#middle{
	width: 100%;
	padding-bottom: 64px;
}
#middle>div{
	width: 1200px;
	margin: 0px auto;
	padding-top: 40px;
}
/*搜索框*/
#middle>div>.search{
	float: right;
	overflow: hidden;
	
}
#middle>div>.search input{
	width: 264px;
	height: 26px;
	border: #d03c30 1px solid;
	padding: 0px;
	padding-left: 5px;
	border-right: 0px;
	line-height: 26px;
	float: left;
}
#middle>div>.search input:hover,#middle>div>.search input:active{
	border: #d03c30 1px solid;
	border-right: 0px;
}
#middle>div>.search button{
	cursor: pointer;
	width: 78px;
	height: 28px;
	background-color: #D03C30;
	font-family: "microsoft yahei";
	font-size: 12px;
	color: #FFFFFF;
	float: left;
	border: 0px;
}
#middle>div>.search button:hover,#middle>div>.search button:active{
	border: 0px;
}
#middle>div>h2{
	font-weight: normal;
	color: #110f0f;
	font-size: 18px;
	font-family: "microsoft yahei";
	line-height: 26px;
	height: 26px;
	padding-top: 14px;
}


/*分类框*/
.classify{
	width: 1198px;
	border: 1px #828181 solid;
	height: 144px;
	margin: 0px auto;
}
.classify>dl{
	display: block;
	width: 1192px;
	height: 36px;
	margin-right: 6px;
	/*border-bottom: 1px dashed #cccccc;*/
	background: url(../img/icon_xu.png) bottom repeat-x;
}
.classify>dl:last-child{
	background: #FFFFFF;
}
.classify>dl>dt{
	float: left;
	background-color: #f7f7f7;
	padding-left: 78px;
	width: 105px;
	color: #110f0f;
	font-size: 14px;
	font-family: "microsoft yahei";
	line-height: 36px;
	cursor: pointer;
	height: 36px;
}
.classify>dl>dt:hover{
	color: #000000;
}
.classify>dl>dd:nth-of-type(1){
	padding-left: 11px;
}
.classify>dl>dd{
	float: left;
	margin: 9px 0px;
	
	height: 16px;
	
	padding: 0px 5px;
	border-right: #717070 solid 2px;
}
.classify>dl>dd>a{
	line-height: 16px;
	color: #110f0f;
	font-size: 14px;
	font-family: "microsoft yahei";
	cursor: pointer;
}
.classify>dl>dd:last-child{
	border-right: 0px;
}
.classify>dl>dd:hover>a{
	color: #E93535;
}
.classify>dl>.active>a{
	color: #E93535;
}

/*综合排序*/
#middle>div>div:nth-of-type(3){
	width: 1180px;
	height: 45px;
	background-color: #f7f7f7;
	padding: 0px 10px;
	margin-top: 7px;
	margin-bottom: 19px;
}
#middle>div>div:nth-of-type(3)>ul{
	height: 23px;
	padding: 10px 0px;
	float: left;
}
#middle>div>div:nth-of-type(3)>ul>li{
	border: 1px solid #dcdcdc;
	float: left;
	height: 23px;
	border-right: 0px;
}
#middle>div>div:nth-of-type(3)>ul>li>a{
	display: block;
	padding-left:5px;
	padding-right: 14px;
	background: url(../img/sl_icon2.png) right no-repeat;
	background-color: #FFFFFF;	
	cursor: pointer;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #0e0d0d;
	height: 23px;
	line-height: 23px;
}
#middle>div>div:nth-of-type(3)>ul>li:last-child>a{
	border-right: 1px solid #dcdcdc;
	background: url(../img/sl_icon7.png) right no-repeat;
	background-color: #FFFFFF;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #0e0d0d;
	height: 23px;
	line-height: 23px;
}
#middle>div>div:nth-of-type(3)>ul>li:last-child:hover>a{
	background: url(../img/sl_icon8.png) right no-repeat;
	background-color: #e93535;
}
#middle>div>div:nth-of-type(3)>ul>li:last-child.active>a{
	background: url(../img/sl_icon8.png) right no-repeat;
	background-color: #e93535;
	color: #FFFFFF;
}
#middle>div>div:nth-of-type(3)>ul>li:hover>a{
	background: url(../img/sl_icon1.png) right no-repeat;
	background-color: #e93535;
}
#middle>div>div:nth-of-type(3)>ul>.active>a{
	background: url(../img/sl_icon1.png) right no-repeat;
	background-color: #e93535;
}
#middle>div>div:nth-of-type(3)>ul>li:hover>a{
	color: #FFFFFF;
	background-color: #e93535;
}
#middle>div>div:nth-of-type(3)>ul>.active>a{
	color: #FFFFFF;
	background-color: #e93535;
}
#middle>div>div:nth-of-type(3)>div{
	float: right;
}
#middle>div>div:nth-of-type(3)>div>p{
	color: #0e0d0d;
	font-size: 12px;
	font-family: "microsoft yahei";
	float: left;
	margin-right: 10px;
	height: 45px;
	line-height: 45px;
}
#middle>div>div:nth-of-type(3)>div>p>span{
	float: left;
	color: #0e0d0d;
	font-size: 12px;
	font-family: "microsoft yahei";
	height: 45px;
	line-height: 45px;
}
#middle>div>div:nth-of-type(3)>div>p>span:first-child{
	color: #e57070;
}
#middle>div>div:nth-of-type(3)>div>form{
	float: left;
}
#middle>div>div:nth-of-type(3)>div>form>button{
	height: 28px;
	width: 47px;
	border: 1px solid #aba5a5;
	float: left;
	border-right:0px;
	color: #0e0d0d;
	font-size: 18px;
	font-family: "microsoft yahei";
	margin-top: 7px;
	background-color: #FFFFFF;
	cursor: pointer;
}
#middle>div>div:nth-of-type(3)>div>form>button:first-of-type{
	background-color: #f7f7f7;
}
#middle>div>div:nth-of-type(3)>div>form>button:last-of-type{
	border-right: 1px solid #aba5a5;
}

/*商品列表*/
#middle>div>.pro_list{
	width: 1200px;
	margin: 0px auto;
	display: block;
}
.pro_list>li{
	float: left;	
	padding-bottom: 15px;
	border: #dfd8d8 solid 1px;
	margin: 21px 7px;
}
.pro_list>li:hover{
	border: #e93535 solid 4px;
	margin:18px 4px;
}
.pro_list>li:nth-of-type(4n){
	margin-right: 0px;
}
.pro_list>li:nth-of-type(4n):hover{
	margin-right: 0px;
}
.pro_list>li:nth-of-type(4n+1){
	margin-left: 3px;
}
.pro_list>li:nth-of-type(4n+1):hover{
	margin-left: 0px;
}
.pro_list>li>h3{
	margin-top: 14px;
	font-weight: normal;
	text-align: center;
}
.pro_list>li>h3>a{
	color: #201f1f;
	font-family: "microsoft yahei";
	font-size: 14px;
	cursor: pointer;
}
.pro_list>li>h3>a:hover{
	color: #000000;
}
.pro_list>li>p{
	text-align: center;
	line-height: 25px;
}
.pro_list>li>span{
	text-align: center;
	line-height: 25px;
	display: block;
}
.pro_list>li>small{
	text-align: center;
	line-height: 25px;
}
.pro_list>li>p>a{
	color: #201f1f;
	font-family: "microsoft yahei";
	font-size: 14px;
}
.pro_list>li>span>a:hover{
	color: #e93535;
}
.pro_list>li>p>a:hover{
	color: #e93535;
}
.pro_list>li>p:first-of-type>a:hover{
	color: #000000;
}

.pro_list>li>span>a{
	font-family: "microsoft yahei";
	font-size: 24px;
	color: #d03c30;
	padding-left: 14px;
	cursor: pointer;
	background: url(../img/money.png) left no-repeat;
}
.pro_list>li>small>a{
	display: block;
	height: 36px;
	background: url(../img/i_chakan.png) center no-repeat;
	line-height: 36px;
	font-family: "microsoft yahei";
	font-size: 14px;
	color: #d03c30;
	margin-top: 10px;
	cursor: pointer;
}
/*选项卡中多余的内容*/
#middle>div>ul{
	display: none;
}
/*页码*/
#middle>div>div:nth-of-type(4){
	width: 695px;
	margin: 0px auto;
	padding-top: 15px;
}
.page{
	float: left;
	padding-bottom: 40px;
}
.page>li{
	float: left;
	margin-right: 12px;
}
.page>li>a{
	cursor: pointer;
	border: 1px solid #beafaf;
	height: 32px;
	width: 32px;
	display: inline-block;
	text-align: center;
	color: #0c0c0c;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 32px;
	background-color: #f0ecec;
}
.page>li>a:hover{
	background-color: #FFFFFF;
	color: #df1414;
}
.page>.on>a{
	background-color: #FFFFFF;
	color: #df1414;
}
.page>.prev>a,.page>.next>a{
	width: 55px;
	background-color: #FFFFFF;
}
#middle>div>div:nth-of-type(4)>form{
	
}
#middle>div>div:nth-of-type(4)>form>p{
	margin: 0px 12px;
	color: #0a0a0a;
	font-family: "microsoft yahei";
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	float: left;
}
#middle>div>div:nth-of-type(4)>form>span{
	color: #0a0a0a;
	font-family: "microsoft yahei";
	font-size: 12px;
	height: 34px;
	line-height: 34px;
	float: left;
}
#middle>div>div:nth-of-type(4)>form>input{
	cursor: pointer;
	border: 1px solid #beafaf;
	height: 32px;
	width: 32px;
	display: inline-block;
	text-align: center;
	color: #0c0c0c;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 32px;
	background-color: #f0ecec;
	float: left;
}
#middle>div>div:nth-of-type(4)>form>button{
	cursor: pointer;
	width: 55px;
	background-color: #FFFFFF;
	cursor: pointer;
	border: 1px solid #beafaf;
	height: 34px;
	text-align: center;
	color: #0c0c0c;
	font-family: "microsoft yahei";
	font-size: 14px;
	line-height: 34px;
	margin-left: 12px;
	float: left;
}
#middle>div>div:nth-of-type(4)>form>button:hover{
	color: #df1414;
}

